{% extends "shop/layouts/main.html" %}
{% load static %}

{% block title %}
<title>majestic | Landing, Ecommerce &amp; Business Template</title>
{% endblock title %}

{% block content %}
{% include "shop/includes/navbar.html" %}
{% include "shop/includes/message.html" %}

<div class="bg-holder overlay overlay-light"
     style="background-image: url('{% static 'images/gallery/header-bg.png' %}'); background-size: cover;">
</div>

<section class="py-6">
    <div class="container">

        <div class="row h-100">
            <div class="col-lg-7 mb-3">
                <h5 class="fs-3 fs-lg-5 lh-sm mb-3">Cart Items</h5>
                <hr style="background-color:red; padding:2px; width: 10%"/>
            </div>
            <div class="col-12">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">amount</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cart in carts %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <th scope="row">{{ cart.product.name }}</th>
                        <th scope="row">{{ cart.quantity }}</th>
                        <th scope="row">{{ cart.total_cost }}</th>
                        <th scope="row"><a href="{% url 'product' cart.product.id  %}"><i class="bi bi-pencil"> </i>Edit</a>
                        </th>
                        <th scope="row"><a href="{% url 'cart_delete' cart.id  %}"><i
                                class="bi bi-trash"> </i>Delete</a></th>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-md-5"></div>
            <div class="col-md-5">
                <div class="row my-1">
                    <div class="col-md-5">
                        <h5>Total net amount</h5>
                    </div>

                    <div class="col-md-5">
                        <h5>Rs. {{ total_net_amount }}</h5>
                    </div>
                </div>

                <div class="row my-1">
                    <div class="col-md-5">
                        <h5>delivery charge</h5>
                    </div>

                    <div class="col-md-5">
                        <h5>Rs. {{ delivery_charges }}</h5>
                    </div>
                </div>

                <div class="row border-bottom my-1">
                    <div class="col-md-5">
                        <h5>GST</h5>
                    </div>

                    <div class="col-md-5">
                        <h5>Rs. {{ gst }}</h5>
                    </div>
                </div>

                <div class="row border-bottom my-3">
                    <div class="col-md-5">
                        <h5>Final amount</h5>
                    </div>
                    <div class="col-md-5">
                        <h5>Rs. {{ total_final_amount }}</h5>
                    </div>
                </div>

                <div class="row border-bottom my-3">
                    <div class="col-md-6">
                        <a href="{% url 'checkout' %}" class="btn btn-primary">Check out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--footer-->
{% include "shop/includes/footer.html" %}

{% endblock content %}
