{% extends "shop/layouts/main.html" %}
{% load static %}

{% block title %}
<title>majestic | Landing, Ecommerce &amp;</title>
{% endblock title %}


<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
{% block content %}
    {% include "shop/includes/navbar.html" %}
    {% include "shop/includes/message.html" %}

    {% include "shop/layouts/home_page_background.html" %}

    {% include "shop/layouts/him_or_her.html" %}

    <!--carousel-->
    {% if best_deals %}
    {% include "shop/includes/best_deals.html" %}
    {% endif %}

    <!--Exclusive-->
    {% include "shop/layouts/exclusive.html" %}

    <!--new_arrivals-->
    {% if new_arrivals %}
    {% include "shop/layouts/new_arrivals.html" %}
    {% endif %}

    <!--category-->
    {% include "shop/layouts/category.html" %}

    <!--best sellers-->
    {% include "shop/layouts/best_sellers.html" %}

    <!--outlet-->
    {% include "shop/layouts/outlet.html" %}

    <!--Gentle formals-->
    {% include "shop/layouts/gentle_formals.html" %}

    <!--blog list-->
    {% include "shop/layouts/blog_list.html" %}

    <!--blog list-->
    {% include "shop/layouts/locations.html" %}

    <!--footer-->
    {% include "shop/includes/footer.html" %}

{% endblock content %}