{% extends "shop/layouts/main.html" %}

{% block title %}
  Register with shoppify
{% endblock title %}

{% block content %}

<div class='container' style='margin-top:70px'>
  {% include "shop/layouts/breadcrumb.html" %}

  <!--Alert messge-->
  {% include "shop/includes/message.html" %}
    <div class='row'>
      <div class='col-12'>
        <h1>Register</h1>
        <hr/>
      </div>
    </div>
  </div>

  <div class='container'>
      <div class='row'>
        <div class='col-6'>
          <form method='post' action=''>
            {% csrf_token %}
          <!--Name-->
          <div class="mb-3">
            <label for="userRegisterationForm" class="form-label">Name</label>
            {{ form.username }}
            {% if form.errors.username %}
              <div class="text-danger">
                {{ form.errors.username }}
              </div>
            {% endif %}
          </div>

          <!--Email-->
          <div class="mb-3">
            <label for="userRegisterationForm" class="form-label">Email</label>
            {{ form.email }}
            {% if form.errors.email %}
              <div class="text-danger">
                {{ form.errors.email }}
              </div>
            {% endif %}
          </div>
          
          <!--password-->
          <div class="mb-3">
            <label for="userRegisterationForm" class="form-label">Password</label>
            {{ form.password1 }}
            {% if form.errors.password1 %}
              <div class="text-danger">
                {{ form.errors.password1 }}
              </div>
            {% endif %}
          </div>

          <!--confirm password-->
          <div class="mb-3">
            <label for="userRegisterationForm" class="form-label">Confirm password</label>
            {{ form.password2 }}
            {% if form.errors.password2 %}
              <div class="text-danger">
                {{ form.errors.password2 }}
              </div>
            {% endif %}
          </div>

          <!--Submit-->
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
          </div>
        </form>
        </div>
      </div>
    </div>
    
{% endblock content %}


