{% load static %}

<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-0">

    <div class="container">
        <div class="row h-100">
            <div class="col-lg-7 mx-auto text-center mt-7 mb-5">
                <h5 class="fw-bold fs-3 fs-lg-5 lh-sm">Best Deals</h5>
            </div>
            <div class="col-12">
                <div class="carousel slide" id="carouselBestDeals" data-bs-touch="false" data-bs-interval="false">
                    <div class="carousel-inner">

                        <!--Active carousel-->
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row h-100 align-items-center g-2">
                                {% for best_deal in best_deals|slice:"0:4" %}
                                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                    <div class="card card-span h-100 text-white"><img class="img-fluid h-100"
                                                                                      src='{% static best_deal.product_image %}'
                                                                                      alt="..."/>
                                        <div class="card-img-overlay ps-0"></div>
                                        <div class="card-body ps-0 bg-200">
                                            <h5 class="fw-bold text-1000 text-truncate">{{ best_deal.name }}</h5>
                                            <div class="fw-bold"><span
                                                    class="text-600 me-2 text-decoration-line-through">{{ best_deal.original_price }}</span><span
                                                    class="text-primary">{{ best_deal.selling_price }}</span></div>
                                        </div>
                                        <a class="stretched-link" href="{% url 'product' best_deal.id %}"></a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        <!--Second slide-->
                        {% if best_deals|slice:"4:8" %}
                        <div class="carousel-item" data-bs-interval="5000">
                            <div class="row h-100 align-items-center g-2">
                                {% for best_deal in best_deals|slice:"4:8" %}
                                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                    <div class="card card-span h-100 text-white"><img class="img-fluid h-100"
                                                                                      src='{% static best_deal.product_image %}'
                                                                                      alt="..."/>
                                        <div class="card-img-overlay ps-0"></div>
                                        <div class="card-body ps-0 bg-200">
                                            <h5 class="fw-bold text-1000 text-truncate">{{ best_deal.name }}</h5>
                                            <div class="fw-bold"><span
                                                    class="text-600 me-2 text-decoration-line-through">{{ best_deal.original_price }}</span><span
                                                    class="text-primary">{{ best_deal.selling_price }}</span></div>
                                        </div>
                                        <a class="stretched-link" href="{% url 'product' best_deal.id %}"></a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        <!--Third slide-->
                        {% if best_deals|slice:"8:12" %}
                        <div class="carousel-item" data-bs-interval="3000">
                            <div class="row h-100 align-items-center g-2">
                                {% for best_deal in best_deals|slice:"8:12" %}
                                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                    <div class="card card-span h-100 text-white"><img class="img-fluid h-100"
                                                                                      src='{% static best_deal.product_image %}'
                                                                                      alt="..."/>
                                        <div class="card-img-overlay ps-0"></div>
                                        <div class="card-body ps-0 bg-200">
                                            <h5 class="fw-bold text-1000 text-truncate">{{ best_deal.name }}</h5>
                                            <div class="fw-bold"><span
                                                    class="text-600 me-2 text-decoration-line-through">{{ best_deal.original_price }}</span><span
                                                    class="text-primary">{{ best_deal.selling_price }}</span></div>
                                        </div>
                                        <a class="stretched-link" href="{% url 'product' best_deal.id %}"></a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        <!--Fourth slide-->
                        {% if best_deals|slice:"12:16" %}
                        <div class="carousel-item">
                            <div class="row h-100 align-items-center g-2">
                                {% for best_deal in best_deals|slice:"12:16" %}
                                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                    <div class="card card-span h-100 text-white"><img class="img-fluid h-100"
                                                                                      src='{% static best_deal.product_image %}'
                                                                                      alt="..."/>
                                        <div class="card-img-overlay ps-0"></div>
                                        <div class="card-body ps-0 bg-200">
                                            <h5 class="fw-bold text-1000 text-truncate">{{ best_deal.name }}</h5>
                                            <div class="fw-bold"><span
                                                    class="text-600 me-2 text-decoration-line-through">{{ best_deal.original_price }}</span><span
                                                    class="text-primary">{{ best_deal.selling_price }}</span></div>
                                        </div>
                                        <a class="stretched-link" href="{% url 'product' best_deal.id %}"></a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        {% if best_deals|slice:"4:8" %}
                        <div class="row">
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselBestDeals"
                                    data-bs-slide="prev"><span class="carousel-control-prev-icon"
                                                               aria-hidden="true"></span><span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselBestDeals"
                                    data-bs-slide="next"><span class="carousel-control-next-icon"
                                                               aria-hidden="true"></span><span class="visually-hidden">Next </span>
                            </button>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center mt-5">
                <a class="btn btn-lg btn-dark" href="{% url 'subcategories' %}?is_best_deals=True">View All </a>
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->
          