<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      {% if request.path == '/categories' or "category/" in request.path or "product/" in request.path %}
        <li class="breadcrumb-item">
          <a href="{% url 'categories' %}" class="{% if request.path == '/categories' %} text-decoration-none text-secondary {% endif %}">Categories</a>
        </li>
          {% if "category/" in request.path or "product/" in request.path %}
            <li class="breadcrumb-item" aria-current="page">
              <a href="{% url 'category' category %}" class="{% if "category/" in request.path %} text-decoration-none text-secondary {% endif %}">{{ category }}</a>
            </li>
            {% if "product/" in request.path %}
              <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
            {% endif %}
          {% endif %}
      {% endif %}
    </ol>
  </nav>