{% load static %}

<section class="py-0">
    <div class="container">
        <div class="row h-100">
            <div class="col-lg-7 mx-auto text-center mb-6">
                <h5 class="fs-3 fs-lg-5 lh-sm mb-3">Checkout New Arrivals</h5>
            </div>
            <div class="col-12">
                <div class="carousel slide" id="carouselNewArrivals" data-bs-ride="carousel">
                    <div class="carousel-inner">

                        {% if new_arrivals|slice:"0:4" %}
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row h-100 align-items-center g-2">
                                {% for new_arrival in new_arrivals|slice:"0:4" %}
                                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                    <div class="card card-span h-100 text-white"><img class="card-img"
                                                                                      src="{% static new_arrival.product_image %}"
                                                                                      alt="..."/>
                                        <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                                            <h6 class="text-primary">{{ new_arrival.selling_price }}</h6>
                                            <p class="text-400 fs-1">{{ new_arrival.name }}</p>
                                        </div>
                                        <a class="stretched-link" href="{% url 'product' new_arrival.id %}"></a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        {% if new_arrivals|slice:"4:8" %}
                        <div class="carousel-item" data-bs-interval="5000">
                            <div class="row h-100 align-items-center g-2">
                                {% for new_arrival in new_arrivals|slice:"4:8" %}
                                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                    <div class="card card-span h-100 text-white"><img class="card-img"
                                                                                      src="{% static new_arrival.product_image %}"
                                                                                      alt="..."/>
                                        <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                                            <h6 class="text-primary">{{ new_arrival.selling_price }}</h6>
                                            <p class="text-400 fs-1">{{ new_arrival.name }}</p>
                                        </div>
                                        <a class="stretched-link" href="{% url 'product' new_arrival.id %}"></a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        {% if new_arrivals|slice:"8:12" %}
                        <div class="carousel-item" data-bs-interval="3000">
                            <div class="row h-100 align-items-center g-2">
                                {% for new_arrival in new_arrivals|slice:"8:12" %}
                                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                    <div class="card card-span h-100 text-white"><img class="card-img"
                                                                                      src="{% static new_arrival.product_image %}"
                                                                                      alt="..."/>
                                        <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                                            <h6 class="text-primary">{{ new_arrival.selling_price }}</h6>
                                            <p class="text-400 fs-1">{{ new_arrival.name }}</p>
                                        </div>
                                        <a class="stretched-link" href="{% url 'product' new_arrival.id %}"></a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        {% if new_arrivals|slice:"12:16" %}
                        <div class="carousel-item">
                            <div class="row h-100 align-items-center g-2">
                                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                    {% for new_arrival in new_arrivals|slice:"12:16" %}
                                    <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                        <div class="card card-span h-100 text-white"><img class="card-img"
                                                                                      src="{% static new_arrival.product_image %}"
                                                                                      alt="..."/>
                                            <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                                                <h6 class="text-primary">{{ new_arrival.selling_price }}</h6>
                                                <p class="text-400 fs-1">{{ new_arrival.name }}</p>
                                            </div>
                                            <a class="stretched-link" href="{% url 'product' new_arrival.id %}"></a>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}

                                {% if new_arrivals|slice:"4:8" %}
                                <div class="row">
                                    <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselNewArrivals" data-bs-slide="prev"><span
                                            class="carousel-control-prev-icon" aria-hidden="true"></span><span
                                            class="visually-hidden">Previous</span></button>
                                    <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselNewArrivals" data-bs-slide="next"><span
                                            class="carousel-control-next-icon" aria-hidden="true"></span><span
                                            class="visually-hidden">Next </span></button>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>